.nav .nav-item {
    background-color: #050033 !important;
    color: white !important;
    
}

.nav .active, .nav-item:hover{
    background-color: inherit !important;
    color: #74758c !important;
    font-weight: 600;
    box-shadow: 3px -4px 5px 0px rgb(0 0 0 / 7%), inset 0 0 4px 0px rgb(0 0 0 / 1%);    
}
#uncontrolled-tab-example-tab-country{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#uncontrolled-tab-example-tab-hotel {
    margin-left: 0.5rem;
}

.banner h4{
    padding-top: 15%;
    color: white;
}

.leaderboard h4 {
   font-size : 1.25rem;
}
.leaderboard h1 {
    font-family: Montserrat-Medium,"Verdana",sans-serif;
    color: #050033;
    font-weight: 600;
}
.leaderboard .rankingTile {
    border-left: 3px solid #EC6527
}

.leaderboard .react-datepicker-wrapper {
    display: block;
}

.leaderboardTable th, .leaderboardTable td {
    text-align: center;
}

.leaderboardTable-head {
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    font-size: 1.75rem;
    font-weight: bolder;
    padding: 0.75rem;
}

.leaderboardTable-body {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #CCCCCC !important;
    border-radius: 0;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0;
}

.leaderboardTable-head div {
    word-break: break-word;
}

.leaderboardTable-body .card-header {
    border-bottom: none !important;
}

.leaderboardTable-body .card-header, .leaderboardTable-body .card-body {
    padding: 10px 0;
}

.leaderboardTable-body.active.card { 
    background: #e4e4e4;
}

.leaderboard .info-box-icon {
    background-color: #A51E19;
}

.leaderboard .icon {
    fill : #fff
}

@media (max-width: 768px) {
    h4 {
      font-size: 1rem;
    }

    .leaderboard h4 {
        font-size : 0.9rem;
    }

    .leaderboard .info-box-text {
        white-space: inherit;
    }

    table {
        font-size: 0.9rem;
    }
    .table td, .table th {
        padding: .5rem;
    }
}
