@font-face {
    font-family: Montserrat-Light;
    src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

h4,

h4,
h4.benefits-header,
button {
    font-family: Montserrat-Medium,"Verdana",sans-serif;
    color: #050033;
    font-weight: 600;
    font-size: 1.7689rem;
}

p,
div {
    font-family: Montserrat-Light,"Verdana",sans-serif;
    color: #74758c;
    font-size: 1rem;
}

sup,
.disclaimer {
    color: #FF0000;
}

button.btn {
    border: #050033;
    text-transform: uppercase;
    font-size: .875rem;
}

button.btn-primary{
    background: #ec6527;
    border: 3px solid #ec6527;
    border-radius: 3px;
    color: #fff;
}

button.btn-primary:hover {
    color: #fff;
    background: #f5ac8a;
    border: 3px solid #f5ac8a;
}

button .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #f5ac8a;
    border: 3px solid #f5ac8a;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #fd7e1494;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #f5ac8a;
    border-color: #f5ac8a;
    box-shadow: 0 0 0 0 #fd7e1494;
}

button.btn-secondary {
    background: #fff;
    border: 3px solid #ec6527;
    border-radius: 3px;
    color: #ec6527;
}

button.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #ec6527;
    border: 3px solid #ec6527;
}

.banner {
    width: 100%;
    height: 25vw;
    background-image: url(../images/banners/Hotel_pool.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
}

/**
*     START Accordion Styles
**/
.benefits-header-container, .benefits-container .card {
    border-bottom: 1px solid #CCCCCC !important;
    box-shadow: none;
}

.benefits .card {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #CCCCCC !important;
    border-radius: 0;
    cursor: pointer;
}

.benefits .card h5 {
    text-align: left;
    padding: 0;
}

.benefits .card h5 button {
    padding: 0;
    color: #000000;
    text-decoration: none;
    text-align: left;
}

.benefits .card-header {
    padding: 10px 0;
    border-bottom: none;
    background-color: transparent;
}

.benefits .card-header:hover {
    cursor: pointer;
}

.benefits .card-body {
    padding: 10px 15px;
}

/**
  *     END Accordion Styles
  */

#hotelNameForm {
    height: 300px;
    overflow-y: auto;
}

.error {
    color: #FF0000;
    font-size: 12px;
}

.hotelSearchModalResults {
    height: 350px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.hotelSearchModalResults .table tr{
    border: none;
}

.hotelSearchModalResults .table {
    color: inherit;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2f2f2CC;
    z-index: 2000;
}
